body {
  margin: 0;
  background-color: #056679;
  font-family: sans-serif;
}

.todo-container {
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  color: #1b8aa0;
}

.input-section {
  background-color: #075d6e;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #00000047;
}

.input-section input {
  border-radius: 5px;
  border: 1px solid #157c91;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #075d6e;
  outline: none;
  color: #0f92ac;
}

input::placeholder {
  color: #08869e;
}

ul {
  text-align: left;
  padding: 0;
}

ul li {
  display: flex;
  list-style: none;
  background-color: #075d6e;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #08869e;
  box-shadow: 0 4px 6px #00000047;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

ul li:hover {
  box-shadow: 0 8px 12px #00000080;
  transform: translateY(-2px);
}

ul li i {
  text-align: right;
  flex: 1;
  cursor: pointer;
}
